/* 
google fonts used in this project
font-family: 'Anton', sans-serif; h1
font-family: 'Dosis', sans-serif; p
font-family: 'Noto Serif', serif; h2
 */

/* css reset */
* {
  box-sizing: border-box;
}

body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
a,
fieldset,
input,
th,
td {
  margin: 0;
  padding: 0;
  /* border: 0; */
  outline: none;
}

body {
  line-height: 1.5em;
  font-size: 88%;
  text-align: justify;
  /* padding: 1em; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  padding: 0.6em 0;
  text-transform: uppercase;
}

ul,
ol {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.floatLeft {
  float: left;
  padding: 0.5em 0.5em 0.5em 0;
}

.floatRight {
  float: right;
  padding: 0.5em 0 0.5em 0.5em;
}

/* individual page css rules */
.container {
  width: 95%;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #202a25;
  color: #fff;
  text-align: center;
  margin: 0 0 2em 0;
  padding: 1em 0;
}

header h1,
.search-header {
  font-family: "Anton", sans-serif;
  letter-spacing: 0.3em;
  font-weight: 100;
}

header p,
.search-para {
  font-family: "Dosis", sans-serif;
  letter-spacing: 0.2em;
  font-weight: 600;
}

nav {
  width: 100%;
  display: flex;
  margin: 0 0 2em 0;
  padding: 1em 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  margin: 0 0 1em 0;
  width: 90%;
}

.input-filed,
.form-container form button,
.btn {
  padding: 0.5em;
  border: 3px solid #48483a;
  border-radius: 10px;
  background-color: #fff;
}

.btn {
  width: 90%;
}

#search-form .input-filed {
  width: 74%;
}

.form-container form button {
  margin: 0 0 0 0.5em;
}

.add-section {
  width: 100%;
  background-color: #48483a;
  padding: 1em 0.2em;
  border: 3px solid #48483a;
  border-radius: 15px;
  margin: 0 0 1em 0;
  display: none;
  color: #fff;
}

.cancel-container {
  display: flex;
  justify-content: end;
  width: 95%;
}

.cancel {
  color: #fff;
  cursor: pointer;
}

.cancel:hover {
  color: red;
}

section .add-movie {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.add-movie input,
.add-movie label {
  display: block;
}

.add-movie input {
  width: 100%;
  border: 3px solid #48483a;
  border-radius: 10px;
  padding: 0.5em;
}

.add-movie button {
  width: 60%;
  margin: 1em 0 0 0;
  border: 3px solid #48483a;
  border-radius: 10px;
  padding: 0.5em;
  background-color: #fff;
}

.btn-container {
  text-align: center;
}

.movie-list {
  border-radius: 15px;
  padding: 1em;
}

footer {
  background-color: #202a25;
  margin: 0.5em 0 0 0;
}

footer ul {
  display: flex;
  padding: 0.8em 0;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
}

footer > ul > li > a > i {
  color: #fff;
}

.movie-list-li {
  border: 3px solid #48483a;
  border-radius: 10px;
  padding: 0.5em;
  margin: 1em 0;
}

.movie-list p {
  letter-spacing: 0.2em;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  margin: 0.5em 0;
  color: #000;
}

.none {
  display: none;
}

.show {
  display: block;
}

.add-movie-btn:hover,
.btn:hover {
  background-color: #2f4550;
  border-color: #2f4550;
  color: #fff;
}

.result-class {
  border: 3px solid #2f4550;
  padding: 1em;
  margin: 2em 0;
}

.search-card {
  width: 100%;
  background-color: #2f4550;
  border: 3px solid #2f4550;
  border-radius: 10px;
  padding: 1em;
  color: #fff;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 550px) {
  .container {
    width: 100%;
  }

  header {
    width: 100%;
    padding: 1em 0 2em 0;
  }

  header h1,
  .search-header {
    letter-spacing: 0.8em;
    font-weight: 400;
  }

  header p,
  .search-para {
    letter-spacing: 0.25em;
  }

  nav {
    width: 100%;
    padding: 1em;
    flex-direction: row;
    justify-content: space-between;
  }

  .form-container {
    margin: 0;
  }

  .search-card {
    width: 95%;
    border-radius: 10px;
    padding: 1em;
    margin: 0 auto;
  }

  header h1,
  .search-header {
    letter-spacing: 0.2em;
    font-weight: 100;
    text-align: center;
  }

  header p,
  .search-para {
    letter-spacing: 0.2em;
    font-weight: 600;
    text-align: center;
    padding: 0 0 1em 0;
  }

  .btn {
    width: 40%;
  }

  #search-form .input-filed {
    width: 50%;
  }
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    width: 100%;
    padding: 1em 0 2em 0;
  }

  header h1,
  .search-header {
    letter-spacing: 1em;
    font-weight: 400;
    font-size: 1.9em;
  }

  header p,
  .search-para {
    letter-spacing: 0.25em;
    font-size: 1.3em;
  }

  nav {
    width: 80%;
    padding: 1em;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .form-container {
    margin: 0;
    width: 60%;
  }

  .search-card {
    width: 80%;
    border-radius: 10px;
    padding: 1em;
    margin: 0 auto;
  }

  header h1,
  .search-header {
    letter-spacing: 0.2em;
    font-weight: 100;
    text-align: center;
    line-height: 1.2em;
  }

  header p,
  .search-para {
    letter-spacing: 0.2em;
    font-weight: 600;
    text-align: center;
    padding: 0 0 1em 0;
  }

  .movie-list {
    width: 80%;
    margin: 0 auto;
  }

  .add-section {
    width: 80%;
    margin: 0 auto;
  }

  #show-card {
    margin-top: 2em;
  }

  #search-section {
    margin-top: 2em;
  }

  #search-form .input-filed {
    width: 60%;
  }

  .btn {
    width: 20%;
  }

  footer ul {
    width: 40%;
  }
}

@media only screen and (min-width: 375px) {
  #search-form .input-filed {
    width: 78%;
  }
}

@media only screen and (min-width: 425px) {
  #search-form .input-filed {
    width: 80%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
